In [1]:
import numpy as np
import pandas as pd
from datetime import date, datetime, timedelta
patients_input = pd.read_pickle('patients_100.pickle')
records_input = pd.read_pickle('records_100.pickle')
inpatients_input = pd.read_pickle('inpatients_100.pickle')

In [2]:
patients_input

                                  ID Gender      Birth      Death
0   0007613eee440aa3145f09e1dfd0865b      M 1968-07-01 2013-04-10
1   000ef5e1cc6b18c92c3da94886c205f2      M 1951-11-01        NaT
2   001561666d3f7af58205c452df1006a7      F 1950-09-01        NaT
3   001653b694bd769cca36d1181624f260      M 1966-06-01        NaT
4   001bb0fb0274b845fcf167f24548fa0b      F 1929-09-01 2013-04-29
..                               ...    ...        ...        ...
95  0255c3a0692d0cf993ba4415f88bd56b      F 1950-04-01        NaT
96  025c451c590d7910706d14fc74f05901      M 1939-01-01        NaT
97  0275ff84d2da723d1eeee6dc75033f08      M 1957-07-01 2011-12-16
98  0277300e9a665e4f0436f0ff26f5ac60      F 1922-10-01        NaT
99  0289fa521acd624fbc4faf038537b1ee      M 1963-03-01        NaT

[100 rows x 4 columns]

In [3]:
records_input

,ID,SeqNo,InDate,Area,Type,ApplyDot,TotalDot,ICD9CM,Gender
0,0007613eee440aa3145f09e1dfd0865b,0,1998-09-07,TaichungCity,1,211151,230151,"[410, 410, 413]",M
1,0007613eee440aa3145f09e1dfd0865b,1,1999-01-14,TaichungCity,1,14515,16128,"[682, 785]",M
2,0007613eee440aa3145f09e1dfd0865b,2,1999-01-25,TaichungCity,0,50,325,[682],M
3,0007613eee440aa3145f09e1dfd0865b,3,1999-01-27,TaichungCity,0,50,307,[682],M
4,0007613eee440aa3145f09e1dfd0865b,4,1999-01-28,TaichungCity,0,50,686,[682],M
...,...,...,...,...,...,...,...,...,...
33351,0289fa521acd624fbc4faf038537b1ee,9,2013-09-24,ChanghuaCounty,2,450,6868,"[410, 786]",M
33352,0289fa521acd624fbc4faf038537b1ee,10,2013-10-03,ChanghuaCounty,0,410,2970,"[414, 410, 250]",M
33353,0289fa521acd624fbc4faf038537b1ee,11,2013-10-24,ChanghuaCounty,0,560,3062,"[414, 410, 250]",M
33354,0289fa521acd624fbc4faf038537b1ee,12,2013-11-21,ChanghuaCounty,0,560,3312,"[414, 410, 250]",M
33355,0289fa521acd624fbc4faf038537b1ee,13,2013-12-19,ChanghuaCounty,0,360,3277,"[414, 410, 250]",M

In [4]:
inpatients_input

,ID,SeqNo,HospID,HospSpecItem,AcuteBed,ChronicBed,TotalBed,ICD9CM,TranTime,TranCode,PartDot,ApplyDot,DayDot,TotalDot,InDate,OutDate,InAge,Drug,Gender
5223,003383acfc919be39bd46184d21009e2,1,c1146d925cec3e1db802d10d10a7d26204,1,6,0,6,"[3952, 3940]",1,3,5178,46600,8629.666992,51778,1996-11-29,1996-12-05,48,NaN,F
5224,003383acfc919be39bd46184d21009e2,2,d0fd6ca928c476d9c1b51fd0007ec1cc11,2,2,0,2,"[55090, V1250]",1,3,2698,24277,13487.500000,26975,2009-08-24,2009-08-26,61,"[A046613100, A046613100, A0450311G0, A0450311G...",F
5225,003383acfc919be39bd46184d21009e2,3,d0fd6ca928c476d9c1b51fd0007ec1cc11,2,1,0,1,"[55090, 4019, 3940, 4293, V641]",1,3,637,5728,6365.000000,6365,2011-07-18,2011-07-19,63,[A000263277],F
5226,003383acfc919be39bd46184d21009e2,4,a1f81f3d59c65e160a7dea77e454ee7e11,2,16,0,16,"[41091, 41401, 44489, 59381, 5789]",1,3,0,84063,5253.937500,84063,2013-01-13,2013-01-29,64,"[A001085277, A001085277, A005891209, A00925050...",F
5227,003383acfc919be39bd46184d21009e2,5,a1f81f3d59c65e160a7dea77e454ee7e11,2,8,0,8,"[3968, 4280, 42731, 4239, 41401]",1,3,0,48493,6588.625000,52709,2013-07-02,2013-07-10,65,"[A001085209, A001085277, A024113277, A04372624...",F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225782,0198dd794ebc1d57227f59fcda704c14,5,d39d629464be785a101b936fb0813b6211,2,3,0,3,"[41401, 4111, 2724, 4019, 78052]",1,3,3397,45096,11323.666992,33971,2013-10-25,2013-10-28,60,"[A001085209, A001085277, A001085277, A00587420...",M
225783,0198dd794ebc1d57227f59fcda704c14,6,209433dbbedd71b10a3d16d2db53bb4211,1,3,0,3,"[41401, 412, 2724, V1259, V4582]",1,3,12869,115825,42898.000000,128694,2013-11-12,2013-11-15,60,"[A001085209, A001085277, A020573229, A02057322...",M
227129,02418440e213a6281f7515c6061738a9,1,fad84c1970ee3c615f7848c758670ce313,1,8,0,8,"[41091, 41401, 25000]",1,3,16937,152429,21170.750000,169366,2012-10-23,2012-10-31,43,"[A001085277, A005891209, A037697100, A03820410...",F
227764,002b2cd6ed1d3adaf529a8b051801051,1,8cc1acec4b97828e1eedb8e3c189671b13,1,11,0,11,"[51881, 486, 4280, 9972, 4423]",1,3,9356,84202,8505.272461,93558,2012-01-29,2012-02-09,76,"[A001085277, A001085277, A001085277, A00108527...",F
228679,0030e804d2d6bf93d1c14c1ef9bda1a1,1,fd1cd42be3279b500698e24afeac4e7f11,1,10,0,10,"[41011, 41401, 4280, 4019, 5939]",1,3,13355,120193,13354.799805,133548,2013-11-22,2013-12-02,72,"[A001085209, A001085277, A001085277, A00925050...",F

In [5]:
id = "003383acfc919be39bd46184d21009e2"
single_patient_data = inpatients_input.loc[inpatients_input['ID'] == id,:].reset_index(drop = True)
single_patient_data

,ID,SeqNo,HospID,HospSpecItem,AcuteBed,ChronicBed,TotalBed,ICD9CM,TranTime,TranCode,PartDot,ApplyDot,DayDot,TotalDot,InDate,OutDate,InAge,Drug,Gender
0,003383acfc919be39bd46184d21009e2,1,c1146d925cec3e1db802d10d10a7d26204,1,6,0,6,"[3952, 3940]",1,3,5178,46600,8629.666992,51778,1996-11-29,1996-12-05,48,NaN,F
1,003383acfc919be39bd46184d21009e2,2,d0fd6ca928c476d9c1b51fd0007ec1cc11,2,2,0,2,"[55090, V1250]",1,3,2698,24277,13487.500000,26975,2009-08-24,2009-08-26,61,"[A046613100, A046613100, A0450311G0, A0450311G...",F
2,003383acfc919be39bd46184d21009e2,3,d0fd6ca928c476d9c1b51fd0007ec1cc11,2,1,0,1,"[55090, 4019, 3940, 4293, V641]",1,3,637,5728,6365.000000,6365,2011-07-18,2011-07-19,63,[A000263277],F
3,003383acfc919be39bd46184d21009e2,4,a1f81f3d59c65e160a7dea77e454ee7e11,2,16,0,16,"[41091, 41401, 44489, 59381, 5789]",1,3,0,84063,5253.937500,84063,2013-01-13,2013-01-29,64,"[A001085277, A001085277, A005891209, A00925050...",F
4,003383acfc919be39bd46184d21009e2,5,a1f81f3d59c65e160a7dea77e454ee7e11,2,8,0,8,"[3968, 4280, 42731, 4239, 41401]",1,3,0,48493,6588.625000,52709,2013-07-02,2013-07-10,65,"[A001085209, A001085277, A024113277, A04372624...",F
5,003383acfc919be39bd46184d21009e2,6,a1f81f3d59c65e160a7dea77e454ee7e11,2,11,0,11,"[486, 4871, 4280, 3968, 42731]",1,3,0,57891,5262.818359,57891,2013-08-15,2013-08-26,65,"[A027438100, A027438100, A038204100, A03820410...",F
6,003383acfc919be39bd46184d21009e2,7,a1f81f3d59c65e160a7dea77e454ee7e11,2,11,0,11,"[7806, 7999, 486, 4280, 3968]",1,4,0,54972,4997.454590,54972,2013-10-09,2013-10-20,65,"[A001085277, A015514209, A024212238, A02548527...",F

In [6]:
def inpatient_interval(data):
    data['sn'] = [x for x in range(0,len(data))]
    interval_list = [0]
    for i in range(0,len(data)-1):
        second = data.loc[data['sn'] == i+1 ,'InDate'].values[0] - data.loc[data['sn'] == i ,'InDate'].values[0]
        days = second.astype('timedelta64[D]') / np.timedelta64(1, 'D')
        if(days > 0): 
            interval_list.append(days)
            interval_list[0]+=interval_list[-1]
    if(interval_list[0] == 0):
        return 0
    else:
        return interval_list[0]//(len(interval_list)-1)

In [7]:
#單個病患的平均
interval_mean_of_single = inpatient_interval(single_patient_data)
interval_mean_of_single

1026.0

In [8]:
#多個病患的平均
interval_mean_of_patients = inpatients_input.groupby('ID').apply(inpatient_interval)
interval_mean_of_patients = interval_mean_of_patients.reset_index()
interval_mean_of_patients = interval_mean_of_patients.rename(columns={0:'mean_of_interval'})
interval_mean_of_patients

                                  ID  mean_of_interval
0   0007613eee440aa3145f09e1dfd0865b             482.0
1   002b2cd6ed1d3adaf529a8b051801051               0.0
2   0030e804d2d6bf93d1c14c1ef9bda1a1               0.0
3   003141716a352935ab39e2ec8f2401f0             212.0
4   003383acfc919be39bd46184d21009e2            1026.0
5   004ba861fd7723cf56a7bce5e5f4893e             589.0
6   0055cb2531ceeabfe288d814e25094fb            1465.0
7   006e20f75bfdd0eebc5ac94934fad7b3             182.0
8   006fbe3f925c3eb8a12be177abd3442b             503.0
9   00829923571c061994710f679830fa3c             133.0
10  0087100d2ceec544624492c5704bcda0             966.0
11  00b069809a660b6842304447a20d6de7             495.0
12  00cda815ec7746793f7d9106fd928733             517.0
13  00d0eef04074d1adbfefc4fe06763d75            1574.0
14  00e69ab6b36657b5e92f705234e3f038             932.0
15  00ecf588b61e4afdc2c2913de253c900             944.0
16  0103430ff3f022ea538c4161d0474d0c             297.0
17  0104970c0db2c2b03b193438c09b3b8c               7.0
18  012ed0d0870bd1c6cf6b487b8dab265e             222.0
19  013f84a811803f329922efc36f7e0e4e             908.0
20  015b8ac98a1019c00a3d16d2db53bb42            1086.0
21  016ffb0b85881f1438623113a5cd9b8a             260.0
22  018403dc0f56ac3744f3f7667f4f09a1             286.0
23  018cc78fa7ec5e5984a412fbf812204a             512.0
24  0198dd794ebc1d57227f59fcda704c14             209.0
25  019ca9b7aed22b13eb5ef13d8eb4003f             551.0
26  01a026c3e1d3a6137817b885235cd0a3             465.0
27  01b9ba38c9d842c5b13eef6a1eff2245             705.0
28  01f2e2d8f2911bf602f9f4446f79861d               0.0
29  01f8630e4127733df9c9632b3bafe28b             320.0
30  01fa979a307556cce797468c38229355             530.0
31  021d21ae8d51eef01cf587d99eac6b52             295.0
32  021fe60e8404e6cba47bc736ede834bb             288.0
33  0223498a4a0e4c35cb96abb2fc55b066            2322.0
34  0225b88aa43b28dbe58bc8bcb91fea72            1121.0
35  022cf5dc0d0576e1891ea7122cc043dd             912.0
36  023a9bdef25673dda3348fa8ae530694             742.0
37  02418440e213a6281f7515c6061738a9               0.0
38  0251d5008e7282679deed6294f97ea71            1932.0
39  0277300e9a665e4f0436f0ff26f5ac60             851.0

In [9]:
#總平均
del_nan = interval_mean_of_patients.drop(interval_mean_of_patients[interval_mean_of_patients.mean_of_interval == 0].index)
del_nan.mean_of_interval.mean()

690.0277777777778